{
	"plugins": ["prettier", "@typescript-eslint"],
	"extends": [
		"airbnb-typescript/base",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"settings": {
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true
			}
		}
	},
	"rules": {
		"object-curly-spacing": ["warn", "always"],
		"no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"args": "none"
			}
		],
		"@typescript-eslint/no-explicit-any": "off",
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": [
					"**/*.test.js",
					"**/*.test.jsx",
					"**/*.test.ts",
					"**/*.test.tsx",
					"tests/**/*"
				]
			}
		],
		"import/prefer-default-export": "off"
	}
}
